BOT_TOKEN=
ADMIN_CHAT_IDS=
ADMIN_GROUP_CHAT_ID=
WEBHOOK_URL=https://taza-bot.onrender.com
WEBAPP_BASE_URL=https://ghaithkhawly.github.io/TazaWebsite
WEBAPP_CORS_ORIGIN=https://ghaithkhawly.github.io
PORT=8443
DEV_MODE=false
GOOGLE_SHEETS_CREDENTIALS=
SPREADSHEET_NAME=TazaBot_DB

